@media only screen and (min-width: 990px) {
  .top-nav {
    margin-left: 45%;
  }
 .icon-img{
    width: 40%;
    height: 20%;
  }
}

.top-nav {
  font-weight: 700;
}

h1 {
  font-family: 'Bebas Neue', cursive;
}

.big-font {
  font-size: 70px;
}

.txt-orange {
  color: #fd7e14;
}

.price-tag {
  font-weight: 600;
  font-size: 40px;
  margin-right: 27%;
}

 i {
   padding-right: 10px;
 }

.my-button {
  padding: 10px 24px;
}

.text-section {
  margin-top: 3%;
}

.margin-btm {
  margin-bottom: 8%;
}

.card > img {
  height: 50%;
  background-color: rgba(211, 211, 211, 0.233);
  border-radius: 7%;
}

.icon-img {
  width: 60%;
  height: 80%;
  margin: 8%;
}

.card {
  border: 0;
  box-shadow: 5px 10px 18px lightgray;
  border-radius: 5%;
}

.about-us {
  height: 600px;
}

