@media only screen and (min-width: 990px) {
  .top-nav {
    margin-left: 45%;
  }

  .about-us{
    height: 100%;
    margin-bottom: 7%;
  }

  .about-us > img {
    height: 40%;
    width: 80%;
  }
}
 
@media only screen and (max-width: 900px) {
  .large-img {
    margin: 0;
  } 
  
  .about-us {
    height: 80%;
  }

  .about-us > img {
    height: 40%;
    width: 80%;
  }
   form {
     width: 100%;
   }

   .top-margin{
    margin-top: 4%;
   }
}


h1 {
  font-family: 'Bebas Neue', cursive;
}

.big-font {
  font-size: 70px;
}

.txt-orange {
  color: #fd7e14;
}

.price-tag {
  font-weight: 600;
  font-size: 40px;
}

 i {
   padding-right: 10px;
 }

.my-button {
  padding: 10px 24px;
  margin-left: 28%;
}

.text-section {
  margin-top: 3%;
}

.margin-btm {
  margin-bottom: 8%;
}

.card > img {
  height: 380px;
  background-color: rgba(211, 211, 211, 0.233);
  border-radius: 7%;
}

.icon-img {
  width: 50%;
  height: 60%;
  margin: 15%;
}

.card {
  border: 0;
  box-shadow: 5px 10px 18px lightgray;
  border-radius: 5%;
}



